.headerContainer {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1750;
    min-width: 1240px;
    background-color: black;
}

.navbarContainer {
    width: 100%;
    height: 74px;
}

.navbarContent {
    display: flex;
    align-items: center;
    width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.categoryList {
    flex: 1;
}

.menuList {
    display: grid;
    grid-template-columns: repeat(auto-fill);
    grid-auto-flow: column;
    justify-content: start;
    gap: 20px;
}

.menuTitle {
    display: flex;
    align-items: center;
    height: 74px;
    padding: 0 70px;
    line-height: 74px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.titleLink {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #a5a5a5;
    white-space: nowrap
    
}

.titleLink:hover {
    color: white;
}

.search {
    display: grid;
    grid-template-columns: repeat(auto-fill);
    grid-auto-flow: column;
    justify-content: start;
    gap: 20px;
}

.searchButton {
    border: 0;
    cursor: pointer;
    background: transparent;
}

.s_hidden {
    verflow: hidden; 
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    width: 1px;
    height: 1px;
}